.message {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.options button {
  padding: 5px;
  min-width: 150px;
}
