.contactItem {
  flex-basis: 350px;
  height: 120px;

  margin-bottom: 10px;
  padding: 12px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #000000;
  border-radius: 3px;

  font-size: 18px;
}

.button {
  padding: 7px;
  min-width: 55px;
}

.icon {
  width: 16px;
  height: 16px;
}

.text {
  display: flex;
  gap: 10px;
  align-items: center;
}

.text:first-child {
  margin-bottom: 26px;
}

.buttonWrapper button {
  display: block;
  width: 100%;
}

.buttonWrapper button:first-child {
  margin-bottom: 10px;
}
